@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #94a3b8;
  color: #f8fafc;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #475569;
  padding: 30px 15px;
  max-width: 350px;
}
.heading {
  text-align: center;
}
.lead {
  font-size: 18px;
  line-height: 1.8;
  border-bottom: 2px solid #f8fafc;
  margin-bottom: 15px;
  text-align: center;
}
.btn {
  background-color: #6366f1;
  padding: 5px 10px;
  border-radius: 10rem;
  font-size: 20px;
  color: inherit;
  font-family: inherit;
  border: none;
}
.list-container {
  margin-top: 15px;
  background: #cbd5e1;
  color: #18181b;
  border-radius: 10px;
  padding: 20px 10px;
}
.todo {
  border-bottom: 3px solid #18181b;
}
.todo:last-child {
  border: none;
}
.todo h3 {
  font-size: 16px;
  font-weight: lighter;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}
.update {
  background-color: green;
}
.delete {
  background: crimson;
}
.btn-sm {
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 10rem;
  color: #f8fafc;
}
